<!DOCTYPE html>
<html>
  <head>
    <title>Corona Labs</title>
  </head>
  <body>
  <h2>Paste the entire lab report into this text box. Then, click the button below the text box that says "Click this button to parse the lab report!"</h2>
  <form action="/" method="POST">
  <textarea name="labResults" rows="30" cols="80" ></textarea>
  <!-- <input type=text name="labResults"></input> -->
  <br><br>
  <input style="font-weight:bold;" type="submit" value="Click this button to parse the lab report!"></input>
  </form>

  </body>
</html>
