<!DOCTYPE html>
<html>
  <head>
    <title>Covid Labs</title>
  </head>
  <body>
  <h2>In PRISM hit "Results" then "All Lab Results", then hit "Scroll Vw" on the Right Side. Copy and Paste everything into box below, then click button below text box.</h2>
  <form action="/" method="POST">
  <textarea name="labResults" rows="30" cols="80" ></textarea>
  <!-- <input type=text name="labResults"></input> -->
  <br><br>
  <input style="font-weight:bold;" type="submit" value="Click here to generate"></input>
  </form>

  </body>
</html>
